@import "../../../assets/variable.scss";

.nav {
	max-height: 4em;
	display: flex;
	flex-direction: row;
	padding: 1em;
	background-color: $primary-color;
	position: fixed;
	width: 100%;
	z-index: 10;
	box-shadow: 0 10px 16px -6px gray;
	.logo-wrapper {
		width: 4.5em;
		border-radius: 50%;
		background-color: $plain-white;
		justify-content: center;
		align-items: center;
		display: flex;
		img {
			height: 4.5em;
			width: 4.5em;
		}
	}
	.username {
		width: 100%;
		color: $plain-white;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-right: 2em;
		p {
			padding: 0;
			margin: 0;
			font-size: 1.5em;
			text-align: right;
		}
		.account {
			width: 3.5em;
		}
	}
	.dropdown {
		position: absolute;
		background-color: $plain-white;
		height: fit-content;
		width: fit-content;
		border-radius: 0.4em;
		padding: 1em .5em;
	}
	.persistent-dropdown {
		top: 5em;
		right: 5em;
	}
	.profile-dropdown {
		right: 5em;
		top: 6em;
		.form-input {
			display: flex;
			flex-direction: column;
		}
		.new-username {
			border: 1px solid $primary-color;
			width: fit-content;
			color: black;
		}
		.login-button {
			margin-top: 1em;
			margin-left: 0;
		}
	}
}

@media only screen and (max-width: $media-width-xl) {
	.nav {
		.logo-wrapper {
			width: 2.5em;
			height: 2.5em;
			img {
				width: 2.5em;
				height: 2.5em;
			}
		}
		.username {
			p {
				font-size: 1.2em;
			}
			.account {
				width: 2.5em;
			}
		}
		.persistent-dropdown, .profile-dropdown {
			top: 3.5em;
			right: 3em;
		}
	}
}