@import "../../../assets/variable.scss";

.custom-button {
	border-radius: 0.5em;
	cursor: pointer;
	padding: 0.3em 1em;
	margin: 0 0.5em;
	width: fit-content;
}

.pri {
	background-color: $primary-color;
	color: $plain-white;
}

.bordered {
	border: 1px solid $primary-color;
	&:hover {
		color: $plain-white;
		background-color: $primary-color;
	}
}