@import "../../../assets/variable.scss";

.new-post {
	display: flex;
	flex-direction: column;
	align-items: center;

	.create-p {
		display: flex;
		flex-direction: row;
		align-items: center;
		font-size: 1.5em;
	}
	.add-content {
		padding: 1em 4em;
		border-radius: 0.5em;
		border: 1px solid $primary-color;
		display: flex;
		flex-direction: column;
		margin: 0.5em 0;

		.post-item {
			display: flex;
			flex-direction: column;
			margin: 0.5em 0;

			label {
				margin: 0.2em 0;
				font-weight: bold;
			}
		}
		.submit-post {
			align-self: center;
		}
	}
}

@media only screen and (max-width: $media-width-xl) {
	.new-post {
		.create-p {
			padding: 1em;
			font-size: 1.2em;
		}
	}
}