@import '../../assets/typography.css';
@import '../../assets/variable.scss';

h1 {
	color: $plain-black;
}
html {
	background-color: $bg;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'moteserrat';
}
.container {
	max-width: $max-screen-width;
	margin: 0 auto;
	padding-top: 7em;

	.post-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

/* general css */
input, textarea {
	padding: 0.5em;
	border-radius: 0.3em;
	border: none;
	font-size: 1.2em;
	margin: 0.2em 0;
}

@media only screen and (max-width: $media-width-xl) {
	.container {
		.post-grid {
			grid-template-columns: 1fr;
		}
	}
}