@font-face {
	font-family: "moteserrat";
	src: url("./fonts/Montserrat-Regular.ttf");
}

@font-face {
	font-family: "moteserrat-light";
	src: url("./fonts/Montserrat-Light.ttf");
}

@font-face {
	font-family: "moteserrat-bold";
	src: url("./fonts/Montserrat-Bold.ttf");
}